@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
    /* font-family: "Bungee Inline", sans-serif;
        font-weight: 400;
        font-style: normal; */

        /* rgb(10, 117, 108); */

:root {
    --verde-escuro: rgb(10, 117, 108); 
    --verde-claro: rgb(38, 146, 137);
    --verde-colunas: rgb(63, 196, 185);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    margin: ;
    padding: 0;
    height: 50%;
    /* overflow: hidden; */ /* impede rolagem */
}
    
.cabecalho {
    display: grid;
    padding: 1.5rem;
    grid-template-columns: 15% 85%; /* Cria duas colunas de tamanhos iguais */
    gap: 10px;
    /* border-bottom: 1px solid black; */ 
    background: linear-gradient(rgb(46, 43, 43), rgb(10, 117, 108));
    height: 50%;
}

.coluna1h {
    text-align: center;
    margin: auto;
}

.coluna2h {
    margin-block: auto; /* margem travou no centro horizontalmente */
    margin-left: 8rem; /* margem da esquerda */
}

.search-input {
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:15px;
    height:20px;
    width:500px;
    background-color: silver;

}

.header {
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-style: normal; 
    border: 1px solid  black;
    flex-direction: column;  
} 

.corpo {
    display: grid;
    grid-template-columns: 15% 85%; /* Cria duas colunas de tamanhos iguais */
    gap: 10px;
    padding: 0.5rem; 
    border: 1px solid black;
    background: var(--verde-claro);
}

.menu {
    height: 50rem; 
    margin: 0;
    font-size: 1.5rem;
    line-height: 3rem;
}

.textoMenu {
    text-align: center;
}

.search-btn {
    position: relative;
    bottom: 0.3rem;
    left: 0.5rem;
}

/* Icone do email, foi criado no html pelo <svg> */
.icon-email {
    width: 24px;
    height: 24px;
    fill: #ffffff; /* Cor do ícone */
    margin-block: auto;
    margin-right: 2rem;
    /* dos tags debaixo foram usados para movimentar o objeto dentro da tela */
    position: relative;
    left: 45%;
}

.cadastroNovo {
    margin-bottom: 3%;
}

.cadastro {
    max-width: 100%; /* ocupando o tamanho total do box dessa área */
    margin: 40px 40px 40px 40px ;
    background: var(--verde-colunas);
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 12px rgb(8, 5, 0);
    font-size: 20px;
}

/* grid = responsável pela divisão em 3 colunas */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: auto;
}

/* Definição das Colunas */
.colCadastro {
    display:flex;
    flex-direction: column;
    gap: 10px;
    border-style:outset;
    border-radius: 20px;
    padding: 6%;
    background: silver;
}

.numerostep {
    background: blue;
    color: white;
    border-radius: 100%;
    padding: 3%;
    position: relative;
    right: 15%;
    bottom: 30%;
}

h4 {
    line-height: 2rem;
}


.input, textarea, select {
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 18px;
}

.textarea {
    resize: none; /* redimencionamento automatico do quadro */
    height: 60%;
}

.upload {
    text-align: center;
    font: bold;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-block: auto;
    border: 2px dashed rgb(0, 0, 0);
    padding: 1rem;
    border-radius: 20px;
    color: rgb(19, 29, 168);
    cursor: pointer;
    background: silver;
}

.actions {
    margin-top: 3%;
    display: flex;
    gap: 10%;
    justify-content: center;
}

button.primary {
    padding: 12px 18px;
    border: none;
    border-radius: 8px;
    cursor:pointer;
    width: 25%;
    background-color: black;
    color: beige;
}

h3 {
    text-align: center;
}


