body {
    background-color: rgba(6, 37, 32, 0.795);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh; /* Altura mínima do display 100% vh=Vertical e Horizontal */ 
   
}

div.botoes {
    justify-content: center;
    display: flex;
    
}


h1 {
    text-align: center;
    /* background-image: linear-gradient(35deg, rgba(201, 190, 181, 0.8) 0%, rgba(98, 107, 134, 0.9) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent */
} 
 
 
.container {
    color: blanchedalmond;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: medium;
    background-color: rgba(31, 134, 108, 0.404);
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 3rem;
    border-style:inset;
    box-shadow: 0 0 1rem 0.4rem rgba(15, 1, 15, 0.867);
} 

.contfilho { 
    display: flex;
}

.label {
    display: flex;
    flex-direction: column;
    width: 25%;
    color: rgb(255, 255, 255);
}

.input {
    display: flex;
    flex-direction: column;
    width: 100%;
}
 
input {
    background-color: black;
    color: #ffffff;   
}
 
.enter {
    display: flex;
    margin: auto;
    
}
 
button.enter { 
    font-weight: bold;
    width: 30%;
    justify-content: center;
    margin: auto;
    text-align: center;
}
    

