/* Importando uma fonte externa do Google Fonts.
isso permite usar tipografias modernas que não vêm instaladas no PC do usuário.
(MDN Reference: @import) - procure no MDN para ver ocmo importar folhas de estilo.*/
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');


/* O seletor ':root' representa a raiz do documento (o HTML inteiro).
É o melhor lugar para criar "Variáveis CSS", guardando valores que vamos repetir muito.
[MDN Reference: :root e --* (Custom properties)] */
:root{
    --bg-color: #36b136b0;  /* Variável para cor de fundo princiapl */
    --card-br: rgba (30, 41, 59, 0.7); /* Fundo com transparencia (canal Alpha do rgba) para efeito vidro */
    --text-color: #0d0f7e;  /* Cor do texto claro */
    --primary: #3b82f6; /* Cor azul vibrante (Nossa cor primária) */
    --accent: #8b5cf6; /* Cor roxo (Nossa cor de destaque) */
    --border-color: rgba(255, 255, 255, 0.1); /* Borda branca com apenas 10% de visibilidade */     
}


/* O asterisco (*) é o Seletor Universal. Ele pega TODAS as tags da página de uma vez. Usado aqui para fazer o "Reset CSS", removendo margens que o navegador cria sozinho. [MDN Reference: Universal selectors (*), box-sizing] */
*{ 
    margin: 0;  /* Margens externas do box */
    padding: 0; /* Parte interna do box */

    /* O border-box impede que bordas e paddings aumentem o tamanho total definido para a caixa. */
    box-sizing: border-box;
}


/* Estilizando a tag <body> (O corpo visual da pagina) */
body{
    font-family: "Michroma", sans-serif; /* Aplica a fonte que importamos. 'sans-serif' é o plano B */
    font-weight: 400;
    font-style: normal; /* Estilo da fonte */

    /* linear-gradient cria um fundo em degrade com várias cores inclinadas em 135 graus. 
    [MDN Referencia: linear-gradient] */
    background: linear-gradient(135deg, var(--bg-color)m #1e1b4b, #2e1065, var(--bg-color));
}

